@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.topNav{
  background:url("/img/banner.png");
  height: 1050px;
  padding-top: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.nav-item{
    margin-left: 30px;
}
.nav-item a{
    font-size: 17px;
    font-weight: 500;
}
#signupBtn{
    padding: 9px 22px;
    border-radius: 5px;
    background:transparent;
}
.selectLanguage{
    border: none;
    background: #FFF1DA;
}
.banner{
    padding-top: 120px;
}
.banner h4{
    color: #DF6951;
    font-family: "Poppins", sans-serif;
    padding-top: 57px;
}
.banner h1{
    color: #000000;
    font-family: "Volkhov", serif;
    font-size: 84px;
    font-weight: 700;
    max-width: 655px;
    padding-top: 24px;
    padding-bottom: 35px;
}
.banner p{
    color: #5E6282;
    font-family: "Poppins", sans-serif;
    max-width: 477px;
    padding-bottom: 34px;
}
#findBtn{
    background: #F1A501;
    color: #fff;
    border: none;
    padding: 19px 27px;
    border-radius: 10px;
    margin-right: 30px;
}
.play{
    
    margin-top: 30px;
    
}
#playBtn{
    color:#686D77;
    border: none;
    background: transparent;
    -margin-left: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}